.portfolio-navbar.navbar {
  background: #f6f6f6;
}

.ff-libre_baskerville {
  font-family: 'Libre Baskerville';
  color: #333;
}

.portfolio-navbar .logo {
  font-size: 2rem;
}

.navbar-brand:hover, .navbar-brand:focus {
  color: var(#bbbbbb) !important;
}

.btn-green {
  --bs-btn-color: #fff;
  --bs-btn-bg: #126656f1;
  --bs-btn-border-color: #126656f1;
  --bs-btn-hover-color: #126656f1;
  --bs-btn-hover-bg: #fff;
  --bs-btn-hover-border-color: #126656f1;
  --bs-btn-focus-shadow-rgb: 50, 174, 255;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #0b80cc;
  --bs-btn-active-border-color: #0b78bf;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #0ea0ff;
  --bs-btn-disabled-border-color: #0ea0ff;
}

.gradient {
  background: linear-gradient(156deg, #126656, #39edc0);
  color: #fff;
}

